__pycache__/
*.pyc
temp_tts/
test_imgs/
_tmp_audio.m4a

assets/character/*
!assets/character/.gitkeep
assets/tts/*
!assets/tts/.gitkeep
output/*
!output/.gitkeep
assets/images/*
!assets/images/.gitkeep
ytfiles/*